@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Fotograf>
@inject LanguageService language
<link href="~/Content/PagedList.css" rel="stylesheet" />

@using PagedList.Mvc
@using PagedList


    <div style="display: inline-block ;width:100%">
        @for (int i = 0; i < Model.Count(); i += 3)
        {
            <div class="row">
                @{
                    int j = 0;
                    for (; j <= 2 && i + j < Model.Count(); j++)
                    {
                                        <div class="col-md-4">
                                            <div class="card">
                                                @{

                                    var base64 = Convert.ToBase64String(Model[i+j].yuklenenFotograf);
                                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                                }

                                                <img class="card-img-top" src="@imgsrc" width="350px" height="300px" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">@Model[i+j].FotografAciklamasi</h5>
                                                    <a asp-controller="Home" asp-action="Fotograf" asp-route-id="@Model[i+j].FotografId" id="goSwhButton" bc-button="true">@language.Getkey("open")</a>

                                                </div>
                                            </div>
                                        </div>
                    }
                }
            </div>
        }
    </div>

@await Html.PartialAsync("_Pagination",10)
