@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Fotograf


<div class="col-md-4 col-xs-6">
    <div class="product">
       
            <div class="product-img">
                <img src="/images/1.jpg" height="200" alt="">
            </div>
       
    </div>
</div>
