@model List<Kategori>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<br />
<br />

<table class="table table-dark">
    <tr>
        <td>
            Kategori Adı
        </td>
       @*<td>
            Fotoğraf Sayısı
        </td>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.KategoriIsmi
            </td>
            <td>
                    @Html.ActionLink("Sil", "KategoriSil","Admin",new {kategoriId=item.KategoriId},null)

            </td>
           
        </tr>
        

    }
    
</table>
<br />
<br />
<a class="btn btn-dark" asp-controller="Admin" asp-action="KategoriEkleSayfasi">Kategori Ekle</a>
