@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="container mt-5">
    <form method="post" asp-action="KategoriEkle">

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Kategori Ismi" name="KategoriIsmi">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
</div>