/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.first button {
    visibility: hidden;
    height: 500px;
    width: 800px;
}

.slide button {
    visibility: hidden;
    height: 500px;
    width: 800px;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    #sehir {
        margin: auto;
        margin-top: 10px;
        width: 90%;
    }

    .slider {
        width: 100%;
    }

    .navigation-btn {
        margin-left: -100px;
    }

    .imgs_slides img {
        margin-top: 100px;
        border-radius: 10px;
        height: 350px;
    }


    .slide button {
        visibility: hidden;
        height: 500px;
        width: 800px;
    }
}

.imgs_slides {
    width: 500%;
    height: 500px;
    display: flex;
}

    .imgs_slides input {
        display: none;
    }

.slide {
    width: 20%;
    transition: 2s;
}

.navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.navigation-btn {
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

    .navigation-btn:not(:last-child) {
        margin-right: 40px;
    }

    .navigation-btn:hover {
        background: #808080;
    }

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}


.topnav {
    background-color: rgb(159, 226, 157);
    overflow: hidden;
    border-radius: 10px;
}

    .topnav a {
        float: right;
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

#myTopnav {
    margin-top: 20px;
    margin-left: 10px;
}

.topnav a:hover {
    background-color: rgb(115, 228, 111);
    color: white;
}

.topnav a.active {
    background-color: rgb(115, 228, 111);
    color: white;
}


@media screen and (max-width: 600px) {
    .sehirBilgileri {
        margin-right: 10px;
    }
}

#slaytYazilari .text {
    position: relative;
    bottom: 30px;
    left: 0px;
    visibility: visible;
}

@media screen and (max-width: 1000px) {

    .topnav a {
        float: left;
        margin-left: 20px;
        margin: auto;
        margin-top: 20px;
    }
}

#goSwhButton {
    color: #535454;
}

.fa {
    font-size: 100px;
    cursor: pointer;
    user-select: none;
}

    .fa:hover {
        color: darkblue;
    }

    